<div class="card-content">
    <div class="card-img">
        <img src="	https://st1.uvnimg.com/dims4/default/c59a19f/21474…441883e4c135a61dddd%2Flos-mejores-carros-2022.jpg" alt="">
        <span>
            <h4>{{ vehiculo.nombre }}</h4>
        </span>
    </div>
    <div class="card-desc">
        <h3>{{ vehiculo.nombre }}</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam, voluptatum! Dolor quo, perspiciatis voluptas totam</p>
        <a href="#" class="btn-card">Read</a>
    </div>
</div>